* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playerButtons > button, .computerButtons > button{
    width: 100px;
    height: 100px;
    padding: 1rem 1rem;
    border-radius: 20px;
}

.playerButtons, .computerButtons {
    /* border: red 2px solid; */
    border-radius: 20px;
    padding: 0.8rem;
}

body {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.container > h1 {
    /* border: 2px solid orange; */
    width: 10vw;
}

.gameAndScore {
    /* border: 2px solid blue; */
    display: flex;
    width: 60vw;
}

.score {
    /* border: 2px solid orange; */
    width: 10vw;
}

.container {
    display: flex;
    width: 80vw;
    /* border: 2px solid green; */
    margin: 0 auto;
}


.resultsContainerParent {
    width: 80vw;
    /* border: 2px dotted green; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.resultsContainer{
    margin-top: 1rem;
    width: 60vw;
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    width:max-content;
}



.rounds {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttons {
    margin-top:1rem;
    display: flex;
    gap: 3rem;
}

.resultsDivLeftPanel {
    border: red 2px solid;
    border-radius: 20px;
    padding: 0.8rem;
    flex: 2;
}

.resultsDivRightPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}


.results {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    /* border: black 1px solid; */
}

.results > button {
    height: 22px;
    align-self: center;
}